<h1>{{title}}</h1>
<p>
<form action="agregar" method="post">
    <label for="Title">Title</label>
    <input type="Text" name="Titlenew"   required="required" >
    <br>
    <br>
    <label for="Author">Author</label>
    <input type="Text" name="Authornew" required="required">
    <br>
    <br>
    <label for="Editorial">Editorial</label>
    <input type="Text" name="Editorialnew" required="required">
    <br>
    <br>
    <input type="button" value="Cancel" onclick="location.href='http://localhost:3000/libros/';">
    <input style="margin-left: 2%" type="submit" value="Add">
</form>
</p>