<h1>{{Name}}</h1>

<h4> Acepta subcadenas la busqueda</h4>
<p>
<form action="busqueda" method="post">
    <label for="ID">Id a buscar</label>
    <input type="Text" name="IDBusc" >
    <br>
    <br>
    <label for="Title">Titulo a buscar</label>
    <input type="Text" name="TitleBusc" >
    <br>
    <br>
    <label for="Author">Author a buscar</label>
    <input type="Text" name="AuthorBusc" >
    <br>
    <br>
    <label for="Editorial">Editorial a buscar</label>
    <input type="Text" name="EditorialBusc" >
    <input type="submit" value="Enviar">
</form>
</p>