<h1>{{formName}}</h1>
<p>

<form action="edit" method="post">
    <label for="Newtit">Nuevo Titulo</label>
    <input type="Text" name="Newtit" value="{{title}}" >
    <br>
    <br>
    <label for="Newedito">Nuevo Editorial</label>
    <input type="Text" name="Newedito" value = "{{edit}}" >
    <br>
    <br>
    <label for="Newauth">Nuevo author</label>
    <input type="Text" name="Newauth"  value = "{{author}}">
    <br>
    <br>
    <input type="button" value="Cancel" onclick="location.href='http://localhost:3001/libros/';">
    <input style="margin-left: 2%" type="submit" value="Save" >
</form>
</p>