<h1>{{title}}</h1>
<p>
<form action="eliminar" method="post">
    <label for="Id">ID</label>
    <input type="Text" name="IDnew"   required="required" >
    <br>
    <br>
    <input type="submit" value="Enviar">
</form>
</p>